<div class="post_wrapper">
  <div class="post_wrapper__header">
    <h3>
      <span>投稿詳細</span>
    </h3>
    <div class="back_link">
      <i class="fas fa-angle-double-left"></i>
      <span><%= link_to "一覧へ戻る", root_path %></span>
    </div>
  </div>
  <div class="post_wrapper__content scroll">
    <div class="post_wrapper__content__post_show">
      <div class="post_detail">
        <div class="post_detail__top_box">
          <div class="post_detail__top_box__name">
            <span>投稿者：<%= @post.user.name %>さん</span>
          </div>
          <div class="post_detail__top_box__name">
            <span>投稿日時：<%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
          </div>
        </div>  
        <div class="post_detail__middle_box">
          <span><%= @post.content %></span>
        </div>
        <div class="post_detail__bottom_box">
          <ul class="post_detail__bottom_box__user_actions">
            <li>
              <i class="far fa-comment-alt"></i>
                <span>
                  <% if @post.comments.count != 0 %>
                    <%= @post.comments.count %>
                  <% end %>
                </span>
            </li>
            <li>
              <i class="far fa-heart"></i>
              <span>2</span>
            </li>
          </ul>
          <div class="post_detail__bottom_box__admin_actions">
            <% if user_signed_in? && current_user.id == @post.user.id %>
              <span><%= link_to "編集", "#" %></span>
              <span><%= link_to "削除", "#" %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%# コメント表示機能 %>
    <div class="comment_area">
      <ul class="comment_area__list">
          <% @post.comments.includes_user.sorted_desc.each do |comment| %>
            <li class="comment_area__list__comment">
              <div class="comment_area__list__comment__left_box">
                <span><%= comment.user.name %>さん</span>
              </div>
              <div class="comment_area__list__comment__right_box">
                <div class="comment_area__list__comment__right_box__info">
                  <span><%= link_to "編集", edit_post_comment_path(id: comment.id,post_id: comment.post.id ) %></span>
                  <span><%= link_to "削除", "#" %></span>
                  <span>投稿日時：<%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
                </div>
                <div class="comment_area__list__comment__right_box__text">
                  <span><%= comment.comment %></span>
                </div>
              </div>
            </li>
        <% end %>
      </ul>

      <%# コメント送信フォーム %>
      <% if user_signed_in? %>
        <div class="comment_area__form_box">
          <%= form_with model: [@post,@comment], local: true, class:"comment_area__form_box__form" do |f| %>
            <div class="comment_area__form_box__form__field">
              <%= f.text_area :comment, placeholder: "コメントを入力" %>
            </div>
            <div class="comment_area__form_box__form__hidden_field">
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :post_id, :value => @post.id %>
            </div>
            <div class="comment_area__form_box__form__action">
              <%= f.submit value:"送信", class: "comment_area__form_box__form__action__btn", data: { disable_with: "送信" } %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>