<!DOCTYPE html>
<html>
  <head>
    <title>転クエ掲示板</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
  <div class="notifications">
      <% flash.each do |message_type, message| %>
        <div class="<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  <div class="wrapper">
  <%= render 'layouts/header' %>
    <%= yield %>
  </div>
  </body>
</html>
